#comment-app{
  width: 400px;
}
#comment-app2{
  width: 400px;
}
.comment-box{
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 4px 2px 2px 4px;
}
.comment-form.comment-form-fields input{
  position: fixed;
}
